<!DOCTYPE html>
<html lang="en" ng-app='spotifyApp'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Spotifynd</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">    
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="src/assets/css/main.css">
  </head>
  <body>

    <ng-include src="'src/components/header/header.html'"></ng-include>

  <div ng-controller="artistSearchController">
        <form name="artistSearch" ng-submit="search(query)">
            <input type="text" id="searchField" ng-model="query" autofocus="true"></input><br>
            <button id="searchButton" type="submit" ng-click="click = !click">search</button>
        </form>


    <div ng-show="click">
        <img class="artistImg" src="{{artist.artists.items[0].images[1].url}}" alt="">
        <h2>{{artist.artists.items[0].name}}</h2>
        <h3>Related Artists</h3>
        <hr>
    </div>
    <div class="container">
    <div ng-repeat="related in related">
        <div id="relatedBox" class="col-xs-12 col-sm-12 col-md-6" ng-controller="previewController">
            <div class="relatedImgDiv">
                <img class="relatedImg" src="{{related.images[1].url}}" alt="">
                <h2 class="">{{related.name}}</h2>
                <h3>Genre:&nbsp;{{related.genres[0]}}</h3>

                <div class="btnContainer">
                    <form name="getPreview" ng-submit="preview(related.id)">
                    <button class="smallBtn previewBtn col-xs-6 col-sm-6" type="submit">preview</button>
                    </form>
                    <form name="getTrack" ng-submit="track(related.id)">
                        <a href="{{tracks.tracks[0].external_urls.spotify}}" target="_blank"><button class="smallBtn col-xs-6 col-sm-6 trackBtn">top track</button></a>
                    </form>
                    <a href="{{related.external_urls.spotify}}" target="_blank"><button class="smallBtn col-xs-6 col-sm-6">spotify page</button></a>


                </div>
            </div>
        </div>
    </div>
    </div>
  </div>

  <ng-include src="'src/components/footer/footer.html'"></ng-include>

    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script type="text/javascript" src="src/routes.js"></script>
    <script type="text/javascript" src="src/components/artists/artists.controllers.js"></script>
    <script type="text/javascript" src="src/components/preview/preview.controllers.js"></script>

  </body>
</html>