html {
  position: relative;
  min-height: 100%;
}

body{
  text-align: center;
  margin-bottom: 60px;
}

h1{
  letter-spacing: -4px;
  font-family: 'Montserrat', sans-serif;
  color: #1DB954;
  font-size: 6rem;
  margin-bottom:2rem; 
}

p{
  margin-bottom: -5px;
}


#relatedBox{
  height: 400px;
  background-color: white;
}

.container > last{
  margin-bottom: 40px;
}

.relatedImgDiv{
  width: auto;
  height: 200px;
  /*overflow: hidden;*/

}

.relatedImg{
  width: auto;
  height: 200px;
  overflow: hidden;
  border-radius: 280px;
  margin-top: 2rem;
}

button{
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #1DB954;
  font-family: 'Montserrat', sans-serif;
  color: black;
  line-height: 64px;
  background: none;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  margin: 2rem;
  box-shadow: 0 0 5px #222;
  border-radius: 70px;
  padding: 0px 5px 5px 5px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;

}

button:hover{
  background: #1DB954;
  color: white;
  text-decoration: none;  
}

.btnContainer{
  display:inline-flex;
}

input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 5px #969696;
  outline: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #d2d2d2;
  padding-top: 20px;
  text-align: inline-block;
}

.fa{
  font-size: 3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: black;
}

.fa:hover{
  color: #1DB954;

}

 /* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .artistImg{
      border-radius: 180px;
      width: 80%;
    }

    input[type="text"]{
      width: 80%;
      height:75px;
    }

    #searchButton{
      width: 40%;
      font-size: 3rem;
    }
    .smallBtn{
      width: 100px;
      height:40px;
      font-size: 10px;
      line-height: 35px;
    }

    .relatedImg{
      height: 160px;
      width:auto;
    }

    h3{
      font-size: 1.5rem;
    }

    .previewBtn{
      display: none;
    }
        
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .artistImg{
      border-radius: 280px;
      width: 80%;
    }

    input[type="text"]{
      width: 50%;
      height:75px;
    }

    #searchButton{
      width: 40%;
      font-size: 5rem;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .artistImg{
      border-radius: 280px;
      width: 30%;
    }

  .smallBtn{
    width:150px;
    height:40px;
    font-size: 12px;
    line-height: 35px;
  }

  #searchButton {
    width: 250px;
    height: 70px;
    font-size: 22px;
    border: 2px solid #1DB954;
  }

  h3{
    font-size: 2rem;
  }

  .previewBtn{
    display: inherit;
  }

  .trackBtn{
    display: none;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .artistImg{
      border-radius: 280px;
      width: 30%;
    }

  .previewBtn{
    display: inherit;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .artistImg{
      border-radius: 280px;
      width: 30%;
    }

}


