  <form name="artistSearch" ng-submit="search(query)">
      <input type="text" id="searchField" ng-model="query" autofocus="true"></input><br>
            <button id="searchButton" type="submit">search</button>
        </form>

    <div ng-hide="search">
        <img class="artistImg" src="{{artist.artists.items[0].images[1].url}}" alt="">
        <h2>{{artist.artists.items[0].name}}</h2>
    <h4>Related Artists</h4>
    <div ng-repeat="related in related">
        <div id="relatedBox" class="col-xs-12 col-sm-12 col-md-6" ng-controller="previewController">
            <div class="relatedImgDiv">
            <img class="relatedImg" src="{{related.images[1].url}}" alt="">
            <h2 class="">{{related.name}}</h2>
            <h3>Genre:&nbsp;{{related.genres[0]}}</h3>
            <form name="getPreview" ng-submit="preview(related.id)">
                <button class="previewButton" type="submit">listen to a preview</button>
            </form>
            </div>
        </div>
    </div>
    </div>