<!DOCTYPE html>
<html lang="en" ng-app='spotifyApp'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Untitled</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">    
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  </head>
  <body>

  <header>
      <h1>Spotifynd</h1>
      <p>enter an artist you like. find something new.</p>
  </header>

  <div ng-controller="artistSearchController">
      <div>
        <form name="artistSearch" ng-submit="search(query)">
            <input type="text" id="searchField" ng-model="query" autofocus="true"></input><br>
            <button id="searchButton" type="submit" ng-click="click = !click">search</button>
        </form>
      </div>

    <div ng-show="click">
        <img class="artistImg" src="{{artist.artists.items[0].images[1].url}}" alt="">
        <h2>{{artist.artists.items[0].name}}</h2>
        <h3>Related Artists</h3>
        <hr>
    </div>
    <div class="container">
    <div ng-repeat="related in related">
        <div id="relatedBox" class="col-xs-12 col-sm-12 col-md-6" ng-controller="previewController">
            <div class="relatedImgDiv">
                <img class="relatedImg" src="{{related.images[1].url}}" alt="">
                <h2 class="">{{related.name}}</h2>
                <h3>Genre:&nbsp;{{related.genres[0]}}</h3>

                <span class="btnContainer">
                    <form name="getPreview" ng-submit="preview(related.id)">
                    <button class="smallBtn col-xs-4 col-sm-4" type="submit">listen to a preview</button>
                </form>
                <a href="{{related.external_urls.spotify}}" target="_blank">
                <button class="smallBtn col-xs-4 col-sm-4">spotify page</button></a>


                </span>
            </div>
        </div>
    </div>
    </div>
  </div>
  <div id="divider">
  </div>
  <footer>
      <p>2016  K. Hunter Sagehorn
      <a href="https://github.com/khsagehorn"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/klaushuntersagehorn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      <a href="mailto:huntersagehorn@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </p>
  </footer>

    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script type="text/javascript" src="routes.js"></script>
    <script type="text/javascript" src="components/artists/artists.controllers.js"></script>
    <script type="text/javascript" src="components/preview/preview.controllers.js"></script>
    <!-- <script type="text/javascript" src="components/artists/artists.services.js"></script>    -->

  </body>
</html>